@charset "utf-8";

body { 
	font-family: "ヒラギノ角ゴ　Pro W3",Hiragino Kaku Gothic, "メイリオ", Meiriyo, Osaka,"
"游ゴシック", Yu Gothic, sans-serif;
	background: #69FFD8 ;
	width: 100%;
}

#container {
	margin: 0 auto;
	width: 92%;
	background: #FFF;
    padding-bottom: 80px;
}

header {
	display: flow-loot;
	font-family: Century Schoolbook;
    color: #FFF;
	padding-top: 80px;
}
header h1 {
	float: right;
	width: 70%;
	padding-bottom: 10px;
	letter-spacing: 2px;
	font-size: 2rem;
	color: #174360;
}
header h2 {
	float: left;
    margin-left: 40px;
	font-size: 3rem;
	width: 20%;
	display: block;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
nav {
	padding-top: 70px;
	width: 90%;
	color: #000;
	font-family: Century Schoolbook;	
	letter-spacing: 2px;
}
nav ul {
	display: flex;
	flex-wrap: wrap;
}
nav li {
	margin: 0 auto;
	width: calc(100%/4);
	border-right:1px solid #000;
	font-size: 1rem;
	line-height: 2.5rem;
	text-align: center;
	color: #000;
}

nav li a {
	display: block;
	color: #000;
}
nav li a:hover {
	background: #C18C08;
	width: 100%;
}
p {
	font-family: Century Schoolbook;
	font-size: 1.5rem;
	color: #FFF;
	font-style: italic;
}
h2 {
    font-size: 0.5rem;
    letter-spacing: 2px;
    color: #FFF;
    line-height: 1.7rem;
}

.main clearfix{
    
}

footer{
	display: flow-root;
	color: #005F4D;
	font-family: Century Schoolbook;
    padding-top:30px;
	padding-left: 20px;
	width: 100%;
}

footer h2 {
	padding-left: 30px;
	font-size: 1rem;
	width: 3%;
}
footer h3 {
	padding-left: 30px;
    color: #005F4D;
	font-size: 0.8rem;
	width: 30%;
}
footer p {
    color: #005F4D;
	width: 30%;
	padding-left: 20px;
	font-size: 0.9rem;
}
footer ul {
    padding-top: 10px;
    height: 100px;
	padding-left: 30px;
	color: #174360;
	width: 30%;
}
footer li {
	color: #005F4D;
	width: 50%;
	font-size: 0.9rem
}
footer li a {
	color: #005F4D;
}

footer li a:hover {
	color: orange;
}

